{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page Title (Light)-->
    <div class="bg-secondary py-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
              <li class="breadcrumb-item"><a class="text-nowrap" href="{% url 'apps.main:index' %}"><i class="ci-home"></i>Home</a></li>
              <li class="breadcrumb-item text-nowrap"><a href="#">Boutique</a>
              </li>
              <li class="breadcrumb-item text-nowrap active" aria-current="page">Catégories</li>
            </ol>
          </nav>
        </div>
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 mb-0">Catégories de boutique</h1>
        </div>
      </div>
    </div>
    <div class="container pb-4 pb-sm-5">
      <!-- Categories grid-->
      <div class="row pt-5">
        <!-- Catogory-->
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card border-0"><a class="d-block overflow-hidden rounded-3" href="{% url 'apps.main:showallproducts' %}"><img class="d-block w-100" src="{% static 'img/shop/categories/01.jpg' %}" alt="Clothing"></a>
            <div class="card-body">
              <h2 class="h5">Vêtements</h2>
              <ul class="list-unstyled fs-sm mb-0">
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Vestes &amp; Costumes</a><span class="fs-ms text-muted">235</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Blouse</a><span class="fs-ms text-muted">410</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Gilets &amp; Pulls</a><span class="fs-ms text-muted">107</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Robes</a><span class="fs-ms text-muted">93</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Sweatshirt à capuche &amp; Sweat-shirts</a><span class="fs-ms text-muted">93</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Tenue de sport</a><span class="fs-ms text-muted">65</span></li>
                <li>...</li>
                <li>
                  <hr>
                </li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>View all</a><span class="fs-ms text-muted">2,548</span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Catogory-->
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card border-0"><a class="d-block overflow-hidden rounded-3" href="{% url 'apps.main:showallproducts' %}"><img class="d-block w-100" src="{% static 'img/shop/categories/02.jpg' %}" alt="Shoes"></a>
            <div class="card-body">
              <h2 class="h5">Chaussures</h2>
              <ul class="list-unstyled fs-sm mb-0">
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Pompes &amp; Talons hauts</a><span class="fs-ms text-muted">247</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Ballerines</a><span class="fs-ms text-muted">156</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Sandales</a><span class="fs-ms text-muted">310</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Baskets</a><span class="fs-ms text-muted">402</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Bottes</a><span class="fs-ms text-muted">393</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Tongues</a><span class="fs-ms text-muted">116</span></li>
                <li>...</li>
                <li>
                  <hr>
                </li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Voir tout</a><span class="fs-ms text-muted">1,953</span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Catogory-->
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card border-0"><a class="d-block overflow-hidden rounded-3" href="{% url 'apps.main:showallproducts' %}"><img class="d-block w-100" src="{% static 'img/shop/categories/03.jpg' %}" alt="Gadgets"></a>
            <div class="card-body">
              <h2 class="h5">Gadgets</h2>
              <ul class="list-unstyled fs-sm mb-0">
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Smartphones &amp; Tablettes</a><span class="fs-ms text-muted">436</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Écouteurs</a><span class="fs-ms text-muted">308</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Électronique portable</a><span class="fs-ms text-muted">195</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Gadgets IoT</a><span class="fs-ms text-muted">82</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Ordinateurs &amp; Accessoires</a><span class="fs-ms text-muted">264</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Cameras, Photo &amp; Video</a><span class="fs-ms text-muted">57</span></li>
                <li>...</li>
                <li>
                  <hr>
                </li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Voir tous</a><span class="fs-ms text-muted">1,240</span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Catogory-->
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card border-0"><a class="d-block overflow-hidden rounded-3" href="{% url 'apps.main:showallproducts' %}"><img class="d-block w-100" src="{% static 'img/shop/categories/04.jpg' %}" alt="Furniture"></a>
            <div class="card-body">
              <h2 class="h5">Meubles &amp; Décor</h2>
              <ul class="list-unstyled fs-sm mb-0">
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Sièges de salon</a><span class="fs-ms text-muted">374</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Armoires à dossiers</a><span class="fs-ms text-muted">83</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Tables</a><span class="fs-ms text-muted">125</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Eclairage intérieur</a><span class="fs-ms text-muted">291</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Chaises de bureau</a><span class="fs-ms text-muted">118</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Bureaux à hauteur réglable</a><span class="fs-ms text-muted">46</span></li>
                <li>...</li>
                <li>
                  <hr>
                </li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Voir tous</a><span class="fs-ms text-muted">960</span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Catogory-->
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card border-0"><a class="d-block overflow-hidden rounded-3" href="{% url 'apps.main:showallproducts' %}"><img class="d-block w-100" src="{% static 'img/shop/categories/05.jpg' %}" alt="Accessories"></a>
            <div class="card-body">
              <h2 class="h5">Accessoires</h2>
              <ul class="list-unstyled fs-sm mb-0">
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Sacs</a><span class="fs-ms text-muted">417</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Lunettes de soleil</a><span class="fs-ms text-muted">382</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Montres</a><span class="fs-ms text-muted">122</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Chapeaux</a><span class="fs-ms text-muted">204</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Bijoux</a><span class="fs-ms text-muted">149</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Cosmétiques</a><span class="fs-ms text-muted">90</span></li>
                <li>...</li>
                <li>
                  <hr>
                </li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Voir tous</a><span class="fs-ms text-muted">1,532</span></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Catogory-->
        <div class="col-md-4 col-sm-6 mb-3">
          <div class="card border-0"><a class="d-block overflow-hidden rounded-3" href="{% url 'apps.main:showallproducts' %}"><img class="d-block w-100" src="{% static 'img/shop/categories/06.jpg' %}" alt="Entertainment"></a>
            <div class="card-body">
              <h2 class="h5">Divertissement</h2>
              <ul class="list-unstyled fs-sm mb-0">
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Jeux vidéo, VR</a><span class="fs-ms text-muted">306</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Jouets pour enfants</a><span class="fs-ms text-muted">231</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Jeux de table</a><span class="fs-ms text-muted">114</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Extérieur/Camping</a><span class="fs-ms text-muted">92</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Cadeaux</a><span class="fs-ms text-muted">27</span></li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Musique, CD &amp; Vinyle</a><span class="fs-ms text-muted">41</span></li>
                <li>...</li>
                <li>
                  <hr>
                </li>
                <li class="d-flex align-items-center justify-content-between"><a class="nav-link-style" href="#"><i class="ci-arrow-right-circle me-2"></i>Voir tout</a><span class="fs-ms text-muted">879</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Popular brands-->
      <h2 class="h3 text-center py-4 mt-md-3">Marques populaires</h2>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static 'img/shop/brands/01.jpg' %}" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static 'img/shop/brands/02.jpg' %}" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static 'img/shop/brands/03.jpg' %}" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static 'img/shop/brands/04.jpg' %}" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static 'img/shop/brands/05.jpg' %}" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static 'img/shop/brands/06.jpg' %}" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static 'img/shop/brands/07.jpg' %}" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static 'img/shop/brands/08.jpg' %}" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static 'img/shop/brands/09.jpg' %}" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static 'img/shop/brands/10.jpg' %}" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static 'img/shop/brands/11.jpg' %}" width="150" alt="Brand"></a></div>
        <div class="col-md-3 col-sm-4 col-6"><a class="d-block bg-white shadow-sm rounded-3 py-3 py-sm-4 mb-grid-gutter" href="#"><img class="d-block mx-auto" src="{% static 'img/shop/brands/12.jpg' %}" width="150" alt="Brand"></a></div>
      </div>
    </div>{% endblock %}