{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container pb-5 mb-sm-4">
      <div class="pt-5">
        <div class="card py-3 mt-sm-3">
          <div class="card-body text-center">
            <h2 class="h4 pb-3">Nous vous remercions de votre commande!</h2>
            <p class="fs-sm mb-2">Votre commande a été passée et sera traitée dans les plus brefs délais.</p>
            <p class="fs-sm mb-2">Assurez-vous de noter votre numéro de commande, qui est <span class='fw-medium'>{{ order_number }}</span>.</p>
            <p class="fs-sm">Vous recevrez sous peu un e-mail à <strong>{{ email }}</strong> avec la confirmation de votre commande. <u>Vous pouvez maintenant :</u></p>
            <a class="btn btn-secondary mt-3 me-3" href="{% url 'apps.main:showallproducts' %}">Retourner faire du shopping</a>
            {% comment %} <a class="btn btn-primary mt-3" href="{% url 'apps.orders:track_order' order_number=order_number %}"><i class="ci-location"></i>&nbsp;Suivre la commande</a> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
